:root{
    /*body*/
    --color-tertiary: #333333;
    /*nav*/
    --color-secondary: #232323;
    /*main*/
    --color-primary: #3D3D3D;
    /*main-color*/
    --green: #00E88F;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--color-secondary);
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
*{
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -1px;
    outline: none !important;
}
body{
    background-color: var(--color-tertiary) !important;
}
main{
    background-color: var(--color-primary) ;
}
nav, input, select{
    background-color: var(--color-secondary) !important;
}
label, option, select{
    color: #fff !important;
}

.h15{
    height: 13vh;
}
.h85{
    height: 87vh;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: var(--green) 0px 18px 49px -16px;
}
.button[disabled]{
    background-color: #309f75;
    color: #000;
    cursor: not-allowed;
    box-shadow: none;

}
.button svg {
    margin-right: 15px;
}
.button:hover{
    opacity: 0.6;
    transform: scale(1.05);
}
.button.x2{
    transform: scale(1.4);
}


.board{
    display: grid;
    grid-gap: 20px;
}

.board.board-9{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board.board-16{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.container{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-secondary);
}

.piece{
    text-align: center;
    padding: 30px 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color-tertiary);
}
.history{
    padding: 10px;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: var(--color-secondary);
}
.history-item{
    border-radius: 6px;
    background-color: var(--color-primary);
    padding: 10px;
    margin: 10px 0;
    transition: 200ms;
}
.history-item:hover{
    background-color: var(--color-tertiary);
}
.history-item .board-container{
    width: 180px;
    margin: 0 !important;
}
.history-item .board{
    gap: 4px;
}
.history-item .board .piece{
    padding: 5px 1px;
    border-radius: 2px;
    font-size: 0.75rem;
}

.bg-text{
    background-color: var(--color-secondary);
    padding: 8px 20px;
    border-radius: 6px;
    width: fit-content;
}